#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>

/ {
    chosen {
        zmk,pointing = &trackpad;
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios = <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };

    pointer_accel: pointer_accel {
        compatible = "zmk,input-processor-pointing-acceleration";
        #input-processor-cells = <0>; /* Nödvändigt för ZMK input-processor bindings */
        min-factor = <1000>;         /* 1.0x vid långsamma rörelser (pixelprecision) */
        max-factor = <3500>;         /* 3.5x vid snabba svep */
        speed-threshold = <1000>;    /* Tröskelvärde där accelerationen startar */
        speed-max = <6000>;          /* Hastighet för max acceleration */
        acceleration-exponent = <2>; /* Kvadratisk accelerationskurva */
        track-remainders;            /* Sparar bråkdelar för mjukare rörelser */
    };

    trackpad_listener {
        compatible = "zmk,input-listener";
        device = <&trackpad>;
        input-processors = <&pointer_accel>;
    };
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
                    <NRF_PSEL(TWIM_SCL, 0, 5)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 4)>,
                    <NRF_PSEL(TWIM_SCL, 0, 5)>;
        };
    };
};

&i2c0 {
    status = "okay";
    compatible = "nordic,nrf-twim";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    
    trackpad: iqs5xx@74 {
        compatible = "azoteq,iqs5xx";
        reg = <0x74>;
        rdy-gpios = <&gpio0 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        
        /* Drivrutinens standardegenskaper */
        scroll;
        natural-scroll-y;
        press-and-hold;
        two-finger-tap;
        bottom-beta = <5>;
    };
};
